
/* layout */
$bodyBgColor: rgba(255,255,255,.8);
$layout-header-bg: rgba(0,0,0,65);
$layout-header-color: rgba(255,255,255,.95);
$layout-header-padding: 8px;
$layout-header-fontSize: 20px;
$layout-footer-bg: rgba(0, 0, 0, 0.1);
$layout-footer-color: rgba(0,0,0,65);;
$layout-footer-padding: 8px;
$layout-footer-fontSize: 16px;
$layout-sider-bg:rgba(0,0,0,55);
$layout-sider-color: rgba(255,255,255,1);